@bgcolor:#222;
@r: 0;
@g: 255;
@b: 0;
@rgb: rgb(@r,@g,@b);

.border-prep{
  border-width: 1px;
  border-style:solid;
}
.rgb {
  color:@rgb;
  border-color:@rgb;
}
.invert {
  color:@bgcolor;
  background:@rgb;
}
body{
background:@bgcolor;
}
.inactive{
border-color:@bgcolor;
color:@bgcolor;
}
.active, #screen, .invertable {
.rgb
}
.invertable, #screen, #nav-top>div{
.border-prep
}
.invertable:hover{
.invert
}



//HTML Range Customization


@thumb-height: 20px;
@thumb-width: 10px;

@track-width: 100%;
@track-height: 2px;

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
}

.thumb() {
  height: @thumb-height;
  width: @thumb-width;
  background: @rgb;
  cursor: pointer;
  border-radius:0;
  border: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    background: @rgb;
  }
  
  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: @rgb;
  }

  &::-moz-range-track {
    .track();
    background: @rgb;
  }
  &::-moz-range-thumb {
     .thumb();
     margin-top: (@thumb-height / 2);
  }

  &::-ms-track {
    .track(); 
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: @rgb;
  }
  &::-ms-fill-upper {
    background: @rgb;
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @rgb;
  }
  &:focus::-ms-fill-upper {
    background: @rgb;
  }
}